################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/5semester/KMS
/5semester/LifeSafety
/5semester/Kursach/docs